*.class
*.dart.js
*.ear
*.jar
*.js.deps
*.js.map
*.js_
*.log
*.war
.DS_Store
.cache/
.history/
.history
.lib/
.mtj.tmp/
.scala_dependencies
.worksheet
dist/*
go
lib_managed/
project/boot/
project/plugins/project/
project/project
project/target
pubspec.lock 
src/.DS_Store
src_managed/
target
target/
